# LaTeX temp files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.xdv
*.toc
*.lof
*.lot
*.gz

# OS temp files
.DS_Store

# Python
.venv/
__pycache__/
*.pyc

# Netlify deployment (old)
deployment/
